<a href="https://colab.research.google.com/github/oanhnguyen31231025531-droid/ueh25-ktlt-eco/blob/main/buoi02_250816/python101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ngôn ngữ Python

In [ ]:
print("Hello, World")

Hello, World

In [ ]:
score = 80
if score >= 60:
  print ("pass")

pass

In [ ]:
# Python variables
x = 2
price = 2.5
word = 'Hello'

word = 'Hello'
word = "Hello"
word = '''Hello'''
print (x, price, word)
print (f'x = {x, type(x)}, price = (price, type (price))}, word = {word, type (word)}

SyntaxError: unterminated string literal (detected at line 10) (ipython-input-3942866787.py, line 10)

In [ ]:
x = ['apple', 'banana', 'cherry']
x.append ('hello')
print (x, type (x), x [1:3])

x= ('apple', 'banana', 'cherry') # immutable
# x.append ('hello')
print (x, type (x), x [1:3])

x = {'name': 'Tome', 'age':20} #dictionary
print (x, type (x), x ['name'], x['age'])

x = {'apple', 'banana', 'cherry'} #set
x.add ('hello')
print (x, type (x))

x = frozenset({'apple', 'banana', 'cherry'}) #frozenset
print (x, type (x))

['apple', 'banana', 'cherry', 'hello'] <class 'list'> ['banana', 'cherry']
('apple', 'banana', 'cherry') <class 'tuple'> ('banana', 'cherry')
{'name': 'Tome', 'age': 20} <class 'dict'> Tome 20
{'banana', 'cherry', 'hello', 'apple'} <class 'set'>
frozenset({'banana', 'cherry', 'apple'}) <class 'frozenset'>

In [ ]:
#List
x = [60, 70, 80, 90]
print(len(x))
print(x[0])
print(x[1])
print(x[-1])

4
60
70
90

In [ ]:
#tuple
x = (10, 20, 30, 40, 50)
print(len(x))
print(x[0])
print(x[1])
print(x[-1])
# x = [0] = 50 #error

5
10
20
50

In [ ]:
animals = {'cat', 'dog'}
print('cat' in animals)
print('fish' in animals)
animals.add('fish')
print('fish' in animals)
print(len(animals))
animals.add('cat')
print(len(animals))
animals.remove('cat')
print(len(animals))

True
False
True
3
3
2

In [ ]:
#dictionary
k = {'EN': 'English', 'FR':'French',}
print(k['EN'])
print(k['FR'])

English
French

In [ ]:
#data types
fruits = ['apple', 'banana', 'cherry'] #list []
colors = ('red', 'green', 'blue') #tuple ()
animals = {'cat', 'dog', 'fish'} #set {}
person = {'name': 'John', 'age': 30} #dictionary {}

In [ ]:
#lists
expenses = [72.5, 80.75, 50.0, 90.25]
total_expenses = sum(expenses)
print(total_expenses)

293.5

In [ ]:
# tuples
accounts = (('Cash', 1001), ('Accounts Receivable', 1002), ('Inventory', 1003))
for account in accounts:
  print('Account Name:', account[0], 'Account Number:', account[1])

Account Name: Cash Account Number: 1001
Account Name: Accounts Receivable Account Number: 1002
Account Name: Inventory Account Number: 1003

In [ ]:
#set
account_numbers = set([acc[1] for acc in accounts]) #set comprehensive
print(account_numbers)
new_acc_number = 1004
if new_acc_number not in account_numbers:
print(f'Account number {new_acc_number} is not in use.')

IndentationError: expected an indented block after 'if' statement on line 5 (ipython-input-2626070111.py, line 6)

In [ ]:
#dcitionary
accounts = {
    "1001" : {"name": "Cashe", "balance": 500.0, "type": "Asset"},
    "1002" : {"name": "Accounts Receivable", "balance": 1000.0, "type": "Asset"},
    "1003" : {"name": "Account Payable", "balance": 750.0, "type": "Liability"},
}
for acc_num, acc_info in accounts.items():
  print('-'*50)
  print(f'Account Number: {acc_num}')

  print(f'Account Type: {acc_info["type"]}')
  print(f'Account Name: {acc_info["name"]}')
  print(f'Account Balance: {acc_info["balance"]}')

--------------------------------------------------
Account Number: 1001
Account Type: Asset
Account Name: Cashe
Account Balance: 500.0
--------------------------------------------------
Account Number: 1002
Account Type: Asset
Account Name: Accounts Receivable
Account Balance: 1000.0
--------------------------------------------------
Account Number: 1003
Account Type: Liability
Account Name: Account Payable
Account Balance: 750.0

In [ ]:
x = True
print (x, type (x))

x = b'Hello' #bytes
print (x, type (x))

x = bytearray(5) #bytearray
print (x, type (x))

x = memoryview(bytes(5)) #memoryview
print (x, type (x), hex(id(x)))


x = None #NoneType
print (x, type (x))

True <class 'bool'>
b'Hello' <class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00') <class 'bytearray'>
<memory at 0x7b92a9372200> <class 'memoryview'> 0x7b92a9372200
None <class 'NoneType'>

In [ ]:
#casting
x = str(3)
y = int (4.3)
z = float (3)

print(x,type(x))
print(y,type(y))
print(z,type(z))

3 <class 'str'>
4 <class 'int'>
3.0 <class 'float'>

In [ ]:
#numbers
x = 2
print(x, type(x))

y = 3.4
print(y,type(y))

z = 7j + 3.5
print(z, type(z))

2 <class 'int'>
3.4 <class 'float'>
(3.5+7j) <class 'complex'>

In [ ]:
#operator
print(7 + 2)
print(7 - 2)
print(7 * 2)
print(7 / 2)
print(7 % 2)
print(7 ** 2)
print(7 // 2)

9
5
14
3.5
1
49
3

In [ ]:
#comparison
print(3 > 2)
print(3 < 2)
print(3 == 2)
print(3 != 2)
print(3 >= 2)
print(3 <= 2)

True
False
False
True
True
False

In [ ]:
#bmi
#input
height_cm = 155
weight_kg = 53

#process
bmi = weight_kg / (height_cm / 100) ** 2
print ('your bmi is', round(bmi,2) )

your bmi is 22.06

In [ ]:
#$100 sau 7 nam
fv = 100 * (1+0.1)**7
print('fv', round(fv,2))

fv 194.87

In [ ]:
#input
pv = 100
r = 0.1
n = 7

#process
fv = pv * (1+r)**n
print('fv = ', round(fv,2))

fv =  194.87

In [ ]:
#input
amount = 100
interest = 10 #10%
years = 7

#process
future_value = amount * (1 + interest / 100) ** years

#output
print('future value = ', round(future_value, 2)

future value =  194.87

In [ ]:
#CONTROL LOGIC & LOOPS
#if
score = 80
if score >= 60:
  print ('Pass')
else:
  print ('Fail')

Pass

In [ ]:
#loop
for i in range (1, 6):
  print(i, end = '')

12345

In [ ]:
#2 loop
for i in range (1, 10):
  for j in range (1, 10):
    print(f'{i} * {j} = {i*j}')
  print ('-'*50)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
--------------------------------------------------
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
--------------------------------------------------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
--------------------------------------------------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
--------------------------------------------------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
--------------------------------------------------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
--------------------------------------------------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
--------------------------------------------------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
--------------------------------------------------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
--------------------------------------------------

In [ ]:
#class
class MyClass:
  x = 5

c1 = MyClass ()
print (c1.x)

5

In [ ]:
from typing_extensions import AsyncGenerator
#class
class Person:
  def _init_(self, name, age):
    self.name = name
    self.age = age
  p1 = Person('Alan', 20)
  print(p1.name, p1.age)

Alan 20

In [ ]:
#class vehicle
class Vehicle:
  name = ""
  kind = "car"
  color = ""
  value = 100.0

  def __init__(self):
    pass

  def description(self):
    desc_str = f'{self.name} is a {self.color} {self.kind} worth ${self.value:}'
    return desc_str

car1 = Vehicle()
car1.name = "Fer"
car1.kind = "convertible"
car1.color = "red"
car1.value = 60000.0

car2 = Vehicle ()
print(car1.description())

Fer is a red convertible worth $60000.0

In [ ]:
#TRY, EXCEPT & FILE HANDILING
try:
  f = open('aa.txt')
except: #neu loi
  print('File Error')
finally:
  print('Final')

File Error
Final

In [ ]:
!ls / content/drive/MyDrive/

ls: cannot access 'content/drive/MyDrive/': No such file or directory
/:
bin			    kaggle		      opt		 sys
boot			    lib			      proc		 tmp
content			    lib32		      python-apt	 tools
cuda-keyring_1.1-1_all.deb  lib64		      python-apt.tar.xz  usr
datalab			    libx32		      root		 var
dev			    media		      run
etc			    mnt			      sbin
home			    NGC-DL-CONTAINER-LICENSE  srv